<header class="bg-gradient-to-r from-[#33a3f9] to-[#031257] space-y-1 p-2 sticky top-0 hover:bg-gradient-to-r hover:from-[#8B0000] hover:to-[#800080] hover:animate-pulse">
    <div class="ml-52">
        <div class="flex items-center justify-between ml-3">
            <h1 class="font-semibold font-serif text-white text-3xl">Smart License</h1>

        </div>
        <input
            class="focus:ring-2 focus:ring-[#1565C0] focus:outline-none appearance-none w-9/12 text-sm leading-6 text-gray-900 placeholder-gray-400 rounded-md py-1 pl-5 ring-1 ring-gray-200 shadow-sm ml-4"
            type="text" aria-label="Search Fine" [(ngModel)]="searchId" placeholder="Search Fine...">
        <button
            class="hover:bg-[#1565C0] items-center rounded-md bg-blue-500 text-white text-sm font-medium pl-3 pr-3 py-2 shadow-sm ml-16"
            (click)="searchById(); showSearchModal = true; searchId = ''">Search
        </button>

        <button
            class="hover:bg-[#1565C0]  items-center rounded-md bg-blue-500 text-white text-sm font-medium pl-5 pr-5 py-2 shadow-sm  ml-10"
            (click)="showAddModal = true">
            new
        </button>
    </div>

</header>



<div class="ml-52">
    <div class="mx-5 my-5 flex flex-wrap justify-between items-center ml-20 mr-20">
        <div *ngFor="let license of licenseList; let i = index"
            class="w-[400px] bg-gradient-to-r from-blue-50 to-blue-300 rounded-lg overflow-hidden border-2 border-gray-300 mb-8 mr-3 ml-3">
            <div class="p-2 bg-[#0A1F44] text-white">
                <h2 class="text-base font-bold text-center"> SMART DRIVING LICENSE</h2>
            </div>

            <div class="grid p-2">
                <div class="col-span-2 flex gap-2 mt-2">
                    <div class="w-16 h-16 bg-gray-200 flex items-center justify-center rounded ml-1 mt-2">
                        <p class="text-sm text-gray-500"><img src="mr bean (1).jpg" alt="" class="rounded-lg ">
                        </p>
                    </div>
                    <div class="ml-8 ">
                        <div>
                            <div class="text-xs font-semibold text-gray-600 uppercase">Name:</div>
                            <div class="text-xs">{{license.name}}</div>
                        </div>
                        <div class="mt-2">
                            <div class="text-xs font-semibold text-gray-600 uppercase">Date of Birth:</div>
                            <div class="text-xs">{{license.dob}}</div>
                        </div>
                    </div>
                    <div class="ml-8 ">
                        <div>
                            <div class="text-xs font-semibold text-gray-600 uppercase">License No:</div>
                            <div class="text-xs">{{license.licenseno}}</div>
                        </div>
                        <div class="mt-2">
                            <div class="text-xs font-semibold text-gray-600 uppercase">Address:</div>
                            <div class="text-xs">{{license.address}}</div>
                        </div>
                    </div>
                </div>
                <div class="ml-20">
                    <div class="mt-2">
                        <div class="text-xs font-semibold text-gray-600">Issue Date:</div>
                        <div class="text-xs">{{license.issuedate}}</div>
                    </div>
                </div>
                <div class="ml-10">
                    <div class="mt-2">
                        <div class="text-xs font-semibold text-gray-600">Expiry Date:</div>
                        <div class="text-xs">{{license.expirydate}}</div>
                    </div>
                </div>
            </div>
            <div class=" border-t">
                <div class="flex justify-between">
                    <div class="ml-5">
                        <input type="button" value="🚮" (click)="deleteLicenseById(license.id)" class="m-1">
                        <input type="button" value="📝" (click)="updatelicense(license); showUpdateModal = true"
                            class="mr-2">
                        <button (click)="setStatus(license, 'ubundend')" class="mr-2">🚫</button>
                        <button (click)="setStatus(license, 'valid')" class="mr-2">✅</button>
                    </div>

                    <div class=" px-2 py-0.5 rounded-md m-1 ml-auto">
                        <p class="text-white text-[10px] font-semibold px-2 py-0.5 rounded-md m-1 ml-auto"
                            [ngClass]="{'bg-green-500 ': license.status === 'valid', 'bg-red-500 ': license.status === 'ubundend'}">
                            {{ license.status }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Add License -->

<div *ngIf="showAddModal" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg w-full max-w-md mx-auto">

        <div class="border-b px-4 py-2 flex justify-between items-center">
            <h1 class="text-lg font-semibold">Add E_License Card</h1>
            <button type="button" class="text-gray-400 hover:text-gray-600" (click)="showAddModal = false">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <div class="p-4">
            <div class="mb-2">
                <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                <input type="text" id="name" [(ngModel)]="license.name"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500" />
            </div>
            <div class="mb-2">
                <label for="dob" class="block text-sm font-medium text-gray-700">DOB</label>
                <input type="text" id="dob" [(ngModel)]="license.dob"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500" />
            </div>
            <div class="mb-2">
                <label for="licenseno" class="block text-sm font-medium text-gray-700">License No</label>
                <input type="text" id="licenseno" [(ngModel)]="license.licenseno"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500" />
            </div>
            <div class="mb-2">
                <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
                <input type="text" id="address" [(ngModel)]="license.address"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500" />
            </div>
            <div class="mb-2">
                <label for="issuedate" class="block text-sm font-medium text-gray-700">Issue Date</label>
                <input type="text" id="issuedate" [(ngModel)]="license.issuedate"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500" />
            </div>
            <div class="mb-2">
                <label for="expirydate" class="block text-sm font-medium text-gray-700">Expiry Date</label>
                <input type="text" id="expirydate" [(ngModel)]="license.expirydate"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500" />
            </div>
            <div class="mb-2">
                <label for="status" class="block text-sm font-medium text-gray-700">Status</label>
                <input type="text" id="expirydate" [(ngModel)]="license.status"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500" />
            </div>
        </div>


        <div class="border-t px-4 py-3 flex justify-end">
            <button type="button" class="mr-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600"
                (click)="showAddModal = false">Close</button>
            <button type="button" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700"
                (click)="addLicense(); showAddModal = false; license = { name: '', dob: '', licenseno: '', address: '', issuedate: '', expirydate: '', status: '' }">Add
                License</button>
        </div>
    </div>
</div>





<!-- Update License -->

<div *ngIf="showUpdateModal" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg w-full max-w-md mx-auto">

        <div class="border-b px-4 py-2 flex justify-between items-center">
            <h1 class="text-lg font-semibold">Update E_License Card</h1>
            <button type="button" class="text-gray-400 hover:text-gray-600" (click)="showUpdateModal = false">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <div class="p-4">
            <div class="mb-2">
                <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                <input type="text" id="name" [(ngModel)]="licenseTemp.name"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500" />
            </div>
            <div class="mb-2">
                <label for="dob" class="block text-sm font-medium text-gray-700">DOB</label>
                <input type="text" id="dob" [(ngModel)]="licenseTemp.dob"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500" />
            </div>
            <div class="mb-2">
                <label for="licenseno" class="block text-sm font-medium text-gray-700">License No</label>
                <input type="text" id="licenseno" [(ngModel)]="licenseTemp.licenseno"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500" />
            </div>
            <div class="mb-2">
                <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
                <input type="text" id="address" [(ngModel)]="licenseTemp.address"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500" />
            </div>
            <div class="mb-2">
                <label for="issuedate" class="block text-sm font-medium text-gray-700">Issue Date</label>
                <input type="text" id="issuedate" [(ngModel)]="licenseTemp.issuedate"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500" />
            </div>
            <div class="mb-2">
                <label for="expirydate" class="block text-sm font-medium text-gray-700">Expiry Date</label>
                <input type="text" id="expirydate" [(ngModel)]="licenseTemp.expirydate"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500" />
            </div>
        </div>


        <div class="border-t px-4 py-3 flex justify-end">
            <button type="button" class="mr-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600"
                (click)="showUpdateModal = false">Close</button>
            <button type="button" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700"
                (click)="saveLicense(); showUpdateModal = false">Update License</button>
        </div>
    </div>
</div>




<!-- Search License -->

<div *ngIf="showSearchModal" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
    <div>

        <div *ngIf="searchResult"
            class="w-[400px] bg-gradient-to-r from-blue-50 to-blue-300 rounded-lg overflow-hidden border-2 border-gray-300 ">

            <div class="p-2 bg-[#0A1F44] text-white">
                <h2 class="text-base font-bold text-center">SMART DRIVING LICENSE</h2>
            </div>

            <div class=" gap-2 p-2">
                <div class="col-span-2 flex gap-2 mt-2">
                    <div class="w-16 h-16 bg-gray-200 flex items-center justify-center rounded ml-1 mt-2">
                        <p class="text-sm text-gray-500"><img src="mr bean (1).jpg" alt="" class="rounded-lg ">
                        </p>
                    </div>
                    <div class="ml-8 ">
                        <div>
                            <div class="text-xs font-semibold text-gray-600 uppercase">Name:</div>
                            <div class="text-xs">{{ searchResult.name }}</div>
                        </div>
                        <div class="mt-2">
                            <div class="text-xs font-semibold text-gray-600 uppercase">Date of Birth:</div>
                            <div class="text-xs">{{ searchResult.dob }}</div>
                        </div>
                    </div>
                    <div class="ml-8 ">
                        <div>
                            <div class="text-xs font-semibold text-gray-600 uppercase">License No:</div>
                            <div class="text-xs">{{ searchResult.licenseno }}</div>
                        </div>
                        <div class="mt-2">
                            <div class="text-xs font-semibold text-gray-600 uppercase">Address:</div>
                            <div class="text-xs">{{ searchResult.address }}</div>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="ml-20">
                        <div class="mt-2">
                            <div class="text-xs font-semibold text-gray-600">Issue Date:</div>
                            <div class="text-xs">{{ searchResult.issuedate }}</div>
                        </div>
                    </div>
                    <div class="ml-28">
                        <div class="mt-2">
                            <div class="text-xs font-semibold text-gray-600">Expiry Date:</div>
                            <div class="text-xs">{{ searchResult.expirydate }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-2 border-t">
                <div class="flex justify-between">
                    <div>
                        <input type="button" value="🚮" (click)="deleteLicenseById(license.id)" class="m-2">
                        <input type="button" value="📝"
                            (click)="updatelicense(license); showUpdateModal = true; showSearchModal = false"
                            class="m-2">
                    </div>

                    <div class=" px-2 py-0.5 rounded-md m-1 ml-auto">
                        <p class="text-white text-[10px] font-semibold px-2 py-0.5 rounded-md m-1 ml-auto"
                            [ngClass]="{'bg-green-500 ': searchResult.status === 'valid', 'bg-red-500 ': searchResult.status === 'ubundend'}">
                            {{searchResult.status}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-4 py-3 flex justify-center">
            <button type="button" class="mr-2 px-4 py-2 bg-blue-800 text-white rounded hover:bg-blue-600"
                (click)="showSearchModal = false">Close</button>
        </div>
    </div>